git+git://github.com/interrogator/corenlp-xml-lib.git
git+git://github.com/interrogator/tkintertable.git
matplotlib >= 1.4.3
nltk >= 3.0.0
joblib
pandas >= 0.16.1
mpld3 >= 0.2 
beautifulsoup4>=4.3.2
lxml>=3.4.4
requests
chardet
blessings>=1.6