git+https://github.com/interrogator/tkintertable.git#egg=tkintertable-1.2
git+https://github.com/interrogator/tabview#egg=tabview-1.4.0
matplotlib >= 1.5.1
nltk >= 3.0.0
joblib
pandas >= 0.16.1
requests
chardet
blessings>=1.6
traitlets>=4.1.0
